[submodule "SSToolKit"]
	path = SSToolKit
	url = /Users/Chris/Dropbox/Projects/Cellar/Frameworks/SSToolkit
[submodule "Frameworks/PaperFold-for-iOS"]
	path = Frameworks/PaperFold-for-iOS
	url = /Users/Chris/Dropbox/Projects/Cellar/Cellar/Frameworks/PaperFold-for-iOS
